<!DOCTYPE html>
<html>
<head th:fragment="header">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="_csrf" th:content="${_csrf.token}" />

    <title>De nære behandlingstilbud</title>

	<link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"></link>
	<link rel="stylesheet" th:href="@{/webjars/sweetalert/1.1.3/dist/sweetalert.css}" />
	<link rel="stylesheet" th:href="@{/webjars/angle/3.7.5/css/bootstrap.css}" id="bscss"></link>	
	<link rel="stylesheet" th:href="@{/webjars/angle/3.7.5/css/app.css}" id="maincss"></link>
	<link rel="stylesheet" th:href="@{/css/angle-theme-overrides.css}"></link>
	<link rel="stylesheet" th:href="@{/css/styles.css}"></link>
	
	<style>
		.table > tbody > tr > td {
			vertical-align: top !important;
		}
	</style>
</head>
<body>

</body>
</html>
