<!DOCTYPE html>
<html>
<body>
	<header th:fragment="navbar-header" class="topnavbar-wrapper">
		<div th:replace="fragments/info :: info-screen" />
		<nav role="navigation" class="navbar topnavbar">
			<div class="navbar-header">
				<a th:href="${backUrl == null} ? @{/} : ${backUrl}" class="navbar-brand">
					<div class="brand-logo" style="height:100%; color: white; font-weight: bold; padding-top: 16px;">
						<th:block th:if="${backUrl != null}"><em class="fa fa-fw fa-chevron-left"></em></th:block>
						De nære behandlingstilbud
					</div>
				</a>
			</div>
			
			<div class="nav-wrapper" style="height: 0px; padding: 0px !important!; margin: 0px !important; border: 0px; line-height: 0px;" sec:authorize="isAuthenticated()">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="#" class="hidden-xs" onclick="openInfoContact()">
							<em class="fa fa-fw fa-info-circle" style="font-size: 1.3em;"></em>
							<span style="color: white; font-weight: bold;"></span>
						</a>
					</li>

					<li class="dropdown dropdown-list">
						<a href="#" data-toggle="dropdown" class="visible-xs sidebar-toggle">
							<em class="fa fa-fw fa-user"></em>
						</a>

						<ul class="dropdown-menu">
							<li>
								<div class="list-group">
									<a href="#" class="visible-xs list-group-item" onclick="openInfoContact()">
										<div class="media-box">
											<div class="pull-left">
											   <em class="fa fa-fw fa-info fa-2x"></em>
											</div>
											<div class="media-box-body clearfix">
											   <p class="m0" style="font-size: large; padding-left: 10px; padding-top: 2px;">Info</p>
											</div>
										</div>
									</a>
								</div>
						 	</li>

							<li>
								<div class="list-group">
									<a th:href="@{/saml/logout}" class="list-group-item">
										<div class="media-box">
											<div class="pull-left">
											   <em class="fa fa-fw fa-sign-out fa-2x"></em>
											</div>
											<div class="media-box-body clearfix">
											   <p class="m0" style="font-size: large; padding-left: 10px; padding-top: 2px;">Log ud</p>
											</div>
										</div>
									</a>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<style>
			.navbar-info-btn {
				color: white;
				outline: none !important;
				float: left;
				padding: 17px 15px;
				font-size: 1.3em;
				line-height: 21px;
				height: 55px;
			}
		</style>
	</header>

	<aside th:fragment="navbar-aside" class="aside">
		<div class="aside-inner">
			<nav data-sidebar-anyclick-close="" class="sidebar">
				<ul class="nav">
					<li class="nav-heading">
						<span>Handlinger</span>
					</li>

					<th:block sec:authorize="hasRole('ROLE_VISITATOR')">
						<li>
							<a th:href="@{/region/search}">
								<em class="fa fa-search"></em>
								<span>Søgning</span>
							</a>
						</li>
					</th:block>
					
					<th:block sec:authorize="hasRole('ROLE_EMERGENCYDOCTOR')">
						<li>
							<a th:href="@{/region/gps}">
								<em class="fa fa-map-marker"></em>
								<span>GPS opslag</span>
							</a>
						</li>
						
						<li>
							<a th:href="@{/region/search}">
								<em class="fa fa-search"></em>
								<span>Manuel søgning</span>
							</a>
						</li>
					</th:block>

					<th:block sec:authorize="hasRole('ROLE_ADMIN')">
						<li>
							<a th:href="@{/admin/manageservices}">
								<em class="fa fa-cogs"></em>
								<span>Ydelser</span>
							</a>
						</li>
					</th:block>
					
					<th:block sec:authorize="hasRole('ROLE_MUNICIPALITY')">
						<li>
							<a th:href="@{/municipality/services}">
								<em class="fa fa-bed"></em>
								<span>Ydelser</span>
							</a>
						</li>
						
						<li>
							<a th:href="@{/municipality/contact}">
								<em class="fa fa-address-card"></em>
								<span>Kontaktinfo</span>
							</a>
						</li>
					</th:block>
					
					<li sec:authorize="!isAuthenticated()">
						<a th:href="@{/saml/login}">
							<em class="fa fa-sign-in"></em>
							<span>Login</span>
						</a>
					</li>

					<li sec:authorize="isAuthenticated()">
						<a th:href="@{/saml/logout}">
							<em class="fa fa-sign-out"></em><span>Log ud</span><br/>
							<em style="color: white;" class="fa fa-sign-out"></em>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</aside>
</body>
</html>
