<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header" />
		<aside th:replace="fragments/navbar :: navbar-aside" />
 
		<section>
			<div class="content-wrapper">
				<h3>Kontaktinfo</h3>
				
				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<form id="userForm" class="form-horizontal" th:object="${municipality}" method="post" th:action="@{/municipality/contact}">
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Telefonnummer</label>
									<div class="col-sm-8">
										<input class="form-control" th:field="*{phoneNumber}" autofocus="autofocus" />
									</div>
									
									<div class="col-sm-12" style="margin-top: 20px;">
										<div class="col-sm-2 col-sm-offset-2">
											<strong>Fra:</strong>
											<select th:field="*{phoneNumberFrom}" class="form-control">
												<option th:each="time : ${times}" th:value="${time}" th:text="${time}"></option>
											</select>
										</div>
										
										<div class="col-sm-2 col-sm-offset-1">
											<strong>Til:</strong>
											<select th:field="*{phoneNumberTo}" class="form-control">
												<option th:each="time : ${times}" th:value="${time}" th:text="${time}"></option>
											</select>
										</div>
									</div>
								</div>
							</fieldset>
							
							<fieldset>
								<div class="form-group">
									<label class="col-sm-2 control-label">Resten af døgnet</label>
									<div class="col-sm-8">
										<input class="form-control" th:field="*{phoneNumberSecondary}" autofocus="autofocus" />
									</div>
								</div>
							</fieldset>
							
							<fieldset>
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-8">
										<button class="btn btn-lg btn-primary" style="width: 100%;" type="submit">Gem</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>

	<nav th:replace="fragments/footer :: footer" />
	
	<script th:inline="javascript">
		/*<![CDATA[*/
		
		/*[+
			var showNotify = [[${showNotify}]];
		+]*/

		$("document").ready(function() {
			if (showNotify) {
				$.notify({
					message: 'Opdateret'
				}, {
					status: 'success',
					autoHideDelay: 2000
				});
			}
		});
		
		/*]]>*/
	</script>

</body>
</html>
