<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header" />
		<aside th:replace="fragments/navbar :: navbar-aside" />
 
		<section>
			<div class="content-wrapper">
				<h3>Ydelser</h3>

				<div class="col-md-7 col-lg-8">
					<div class="panel panel-default">
						<div class="panel-body">
							<form class="form-horizontal">
								<select class="form-control" id="servicesFilter" onchange="updateServices()">
									<option value="ALL">Vis alle ydelser</option>
									<option value="VISITATOR">Vis kun ydelser synlige for visitatorer</option>
									<option value="DOCTOR">Vis kun ydelser synlige for akutlæger</option>
								</select>
								
								<hr/>

								<th:block th:each="service : ${allServices}">
									<div class="accordian row ydelse" th:attr="data-visitator=${service.visibleForVisitator},data-doctor=${service.visibleForEmergencyDoctor}">
										<div class="panel-heading" role="tab" id="stamdataHeading">
											<h4 class="panel-title" style="font-weight: normal; margin-bottom: -15px;">
												<div class="checkbox c-checkbox">
													<label>
														<input type="checkbox" class="service-checkbox" th:checked="${#lists.contains(municipality.servicesUnwrapped, service)}" th:attr="data-serviceid=${service.id}"></input>
														<span class="fa fa-check"></span>
													</label>
												</div>

												<div style="position: relative; left: 40px; top: -18px; padding-right: 40px;" th:text="${service.name}"/>
											</h4>
										</div>

										<div th:id="'collapse' + ${service.id}" class="panel-collapse" th:classappend="${#lists.contains(municipality.servicesUnwrapped, service)} ? '' : 'collapse'" role="tabpanel" aria-labelledby="stamdataHeading" aria-expanded="false">
											<div class="panel-body">
												<div class="form-group">
													<div th:id="'displayNotes-' + ${service.id}" style="margin-left: 40px; margin-right: 40px;">
														<strong>Tilføj noter:</strong>
														<textarea th:id="'notes-' + ${service.id}" onchange="saveNotes(this);" class="form-control" rows="4" th:text="${municipality.getNotes(service.id)}"></textarea>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<hr class="ydelse" th:attr="data-visitator=${service.visibleForVisitator},data-doctor=${service.visibleForEmergencyDoctor}" style="margin-top: 0px; margin-bottom: 0px;"/>
								</th:block>
							</form>
						</div>
					</div>
				</div>

				<div class="col-md-5 col-lg-4">
					<div class="panel panel-default">
						<div class="panel-body">
							Antal akutpladser <input id="beds" class="form-control pull-right text-right" type="number" th:value="${municipality.beds}" style="width: 7em;"/>
							<hr/>
							Mulighed for fast vagt i hjemmet
							<div class="checkbox c-checkbox pull-right">
								<label>
									<input type="checkbox" class="nurse-checkbox" th:checked="${municipality.homeNurse}" />
									<span class="fa fa-check"></span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<nav th:replace="fragments/footer :: footer" />
	
	<style>
	.accordion {
/* 		background-color: #eee; */
		color: #444;
		padding: 18px;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		font-size: 15px;
		transition: 0.4s;
		border-bottom: 1px solid #eee;
		margin-left: 0px !important;
	}
	
		.accordion:nth-last-child(2) {
			border-bottom: none !important;
		}
	
	@media screen and (max-width: 767px) {
		.accordion {
			padding: 4px;
		}
	}
	
	.accordion-panel {
		padding: 0 18px;
		background-color: white;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
	}
	
	.form-control-plaintext {
	    display: block;
	    width: 100%;
	    padding-top: .375rem;
	    padding-bottom: .375rem;
	    margin-bottom: 0;
	    line-height: 1.5;
	    background-color: transparent;
	    border: solid transparent;
	    border-width: 1px 0;
	}
	
	</style>
	
	<script th:inline="javascript">
		/*<![CDATA[*/
		
		/*[+
			var showSplashScreen = [[${showSplashScreen}]];
			var baseUrl = [[@{/rest/municipality}]];
		+]*/

		var token = $("meta[name='_csrf']").attr("content");

		$("document").ready(function() {
			
			$('.service-checkbox').change(serviceCheckboxChange);
			$('.nurse-checkbox').change(nurseCheckboxChange);
			$('#beds').change(bedsChange);
			
			var acc = document.getElementsByClassName("accordion-toggle");
			var i;

			for (i = 0; i < acc.length; i++) {
				acc[i].addEventListener("click", function() {
					//this.classList.toggle("active");
					var panel = this.closest(".accordion").nextElementSibling;
					if (panel.style.maxHeight) {
						panel.style.maxHeight = null;
					} else {
						panel.style.maxHeight = panel.scrollHeight + "px";
					} 
				});
			}
			
			if (showSplashScreen) {
				openInfo();
			}
		});
		
		function updateServices() {
			var chosenValue = $("#servicesFilter").val();
			
			if ("DOCTOR" == chosenValue) {
				$('*[data-doctor="true"]').show();
				$('*[data-doctor="false"]').hide();
			}
			else if ("VISITATOR" == chosenValue) {
				$('*[data-visitator="true"]').show();
				$('*[data-visitator="false"]').hide();
			}
			else {
				$('.ydelse').show();
			}
		}
		
		function serviceCheckboxChange(){
			var serviceId = this.dataset.serviceid;
			var checked = this.checked;

			if (checked) {
				servicesUpdate(serviceId, false);
				
				$('#collapse' + serviceId).removeClass("collapse");
			} else {
				servicesUpdate(serviceId, true);

				$('#collapse' + serviceId).addClass("collapse");
			}
		}
		
		function saveNotes(elem) {
			var serviceId = elem.id.substring(6);
			var payload = { 'text': elem.value };

			$.ajax({
				url: baseUrl + "/service/" + serviceId + "/notes",
				method: "POST",
				data: JSON.stringify(payload),
				headers: {
					'X-CSRF-TOKEN': token,
					'content-type': 'application/json'
				},
				error: function(response) {
					$.notify({
						message: response.responseText
					}, {
						status: 'danger',
						autoHideDelay: 4000
					});
				},
				success: function(response) {
					$.notify({
						message: 'Note opdateret'
					}, {
						status: 'success',
						autoHideDelay: 2000
					});
				}
			});
		}
		
		function bedsChange(){
			var beds = this.value;

			if (isNaN(beds)) {
				$.notify({
					message: beds + " is not a valid input."
				}, {
					status: 'danger',
					autoHideDelay: 4000
				});
			} else {
				$.ajax({
					url: baseUrl + "/service/beds",
					method: "GET",
					headers: {
						'X-CSRF-TOKEN': token,
						"beds" : beds
					},
					error: function(response) {
						$.notify({
							message: response.responseText
						}, {
							status: 'danger',
							autoHideDelay: 4000
						});
					},
					success: function(response) {
						$.notify({
							message: 'Antal akutsenge opdateret'
						}, {
							status: 'success',
							autoHideDelay: 2000
						});
					}
				});
			}
		}
		
		function nurseCheckboxChange(){
			var checked = this.checked;
			$.ajax({
				url: baseUrl + "/service/homenurse",
				method: "GET",
				headers: {
					'X-CSRF-TOKEN': token,
					"homenurse" : checked
				},
				error: function(response) {
					$.notify({
						message: response.responseText
					}, {
						status: 'danger',
						autoHideDelay: 4000
					});
				},
				success: function(response) {
					$.notify({
						message: 'Indstilling opdateret'
					}, {
						status: 'success',
						autoHideDelay: 2000
					});
				}
			});
		}
		
		function servicesUpdate(serviceId, remove){
			$.ajax({
				url: baseUrl + "/service/" + serviceId,
				method: "GET",
				headers: {
					'X-CSRF-TOKEN': token,
					'remove': remove
				},
				error: function(response) {
					$.notify({
						message: response.responseText
					}, {
						status: 'danger',
						autoHideDelay: 4000
					});
				},
				success: function(response) {
					$.notify({
						message: 'Liste af services opdateret'
					}, {
						status: 'success',
						autoHideDelay: 2000
					});
				}
			});
		}
		
		/*]]>*/
	</script>
</body>
</html>
