<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header" />
		<aside th:replace="fragments/navbar :: navbar-aside" />
 
		<section>
			<div class="content-wrapper">
				<div class="panel panel-default">
					<div class="panel-body" style="height: 100%;">
						<div class="col-sm-12">
							<h3>Finder aktuel placering...</h3>
						</div>
						</br></br>

						<div class="col-sm-12" style="text-align: center;">
							<em class="fa fa-3x fa-fw fa-spinner fa-spin"></em>
						<div class="col-sm-12">
						
						</br></br>

						<div class="col-sm-12">
							<a th:href="@{/region/search}" class="btn btn-primary btn-lg" style="width: 100%; margin-top: 2em;">Manuel søgning</a>
						</div>
						
						</br></br>
					</div>
				</div>
			</div>
		</section>
	</div>

	<nav th:replace="fragments/footer :: footer" />
	
	<script th:inline="javascript">
	/*<![CDATA[*/
	    /*[+
			var baseUrl = [[@{/region}]];
		+]*/
		
		function onlyTwoDecimals(num) {
		    return parseFloat(num.toString().match(/^-?\d+(?:\.\d{0,2})?/)[0]);
		}


		$("document").ready(function() {

			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(function(position) {
					var latitude = onlyTwoDecimals(position.coords.latitude);
					var longitude = onlyTwoDecimals(position.coords.longitude);
				
					var latitudeUpper = (latitude + 0.01).toFixed(2);
					var longitudeUpper = (longitude + 0.01).toFixed(2);
					
					var query = "https://dawa.aws.dk/adresser?struktur=mini&polygon=[";
					query += "[";
					query += "[" + longitude + "," + latitude + "],";
					query += "[" + longitudeUpper + "," + latitude + "],";
					query += "[" + longitudeUpper + "," + latitudeUpper + "],";
					query += "[" + longitude + "," + latitudeUpper + "],";
					query += "[" + longitude + "," + latitude + "]";
					query += "]"; // thymeleaf does NOT like double square brackets!!!
					query += "]";
					
					$.ajax({
						url: query,
						method: "GET",
						success: function(response) {
							if (response.length > 0) {
								window.location.href = baseUrl + "/search?q=" + response[0].betegnelse;
							}
							else {
								window.location.href = baseUrl + "/search";
							}
						}
					});
				});
			}
			else {
				window.location.href = searchUrl;
			}
		});
	
	/*]]>*/
	</script>
</body>
</html>
