<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header" />
		<aside th:replace="fragments/navbar :: navbar-aside" />
 
		<section>
			<div class="content-wrapper">
				<div class="panel panel-default">
					<div class="panel-body" style="height: 100%;">
						<div class="col-sm-12">
							<h3>Kommune findes ikke</h3>
							<p>
							Du har valgt en adresse i en kommune som ikke anvender denne løsning.
							</p>
						</div>
						
						<div class="col-sm-12">
							<a th:href="@{/region/search}" class="btn btn-primary btn-lg" style="margin-top: 2em; width: 100%;">Ny søgning</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<nav th:replace="fragments/footer :: footer" />
</body>
</html>
