<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header" />
		<aside th:replace="fragments/navbar :: navbar-aside" />
 
		<section>
			<div class="content-wrapper">
				<div class="panel panel-default">
					<div class="panel-body">
						<form id="userForm" class="form-horizontal">
							<fieldset>
								<div class="form-group">
									<div class="col-sm-12">
										<h3>Søg på adresse</h3>
									</div>
								</div>

								<br/>
							
								<div class="form-group">
									<div class="col-sm-12">
										<div class="input-group">
											<input class="form-control" id="searchBox" autocomplete="off" th:value="${query}" />
											<span class="input-group-addon">
												<em class="fa fa-fw fa-times" onclick="$('#searchBox').val(''); $('#dropdownResult').removeClass('open'); $('#searchBox').focus();"></em>
											</span>
										</div>
									</div>
								</div>

								<div id="dropdownResult" class="dropdown">
								  <ul id="searchResultDropDownMenu" class="dropdown-menu" style="width: 100%; padding-left: 15px; padding-right: 15px; line-height: 25px;">
								  </ul>
								</div>
							</fieldset>
							
							<br/>
														
							<fieldset sec:authorize="hasRole('ROLE_EMERGENCYDOCTOR')">
								<div class="form-group">
									<div class="col-sm-12">
										<a th:href="@{/region/gps}" class="btn btn-lg btn-primary" style="width: 100%;">GPS opslag</a>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>

				<div class="panel panel-default" sec:authorize="hasRole('ROLE_VISITATOR')">
					<div class="panel-heading"><h3>Find kommune via opslagstavle</h3></div>
					<div class="panel-body">
						<div class="row">
							<th:block th:each="municipality : ${allMunicipalities}">
								<a th:href="@{/region/services/{id}(id=${municipality.id})}" style="text-decoration: none; color: inherit;">
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
										<div id="municipalityPanel" class="panel panel-default">
											<div class="panel-heading text-center"><h2 th:text="${municipality.name}"/></div>
											<div class="panel-body text-center"><h4 th:text="${municipality.phoneNumberSpaced}"/></div>
										</div>
									</div>
								</a>
							</th:block>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<style>
	
	#municipalityPanel .panel-body, #municipalityPanel .panel-heading {
		background: #e2e2e2;
	}
	
	</style>

	<nav th:replace="fragments/footer :: footer" />
	
	<script th:inline="javascript">
	/*<![CDATA[*/

	    /*[+
			var baseUrl = [[@{/region}]];
	    	var query = [[${query}]];
		+]*/

		function select(kommunekode, query) {
			window.location.href = baseUrl + "/municipality/" + kommunekode + "?q=" + query;
		}

		$('document').ready(function() {
			function updateDropdown(resultSet) {
				if (resultSet && resultSet.length > 0) {
					$("#searchResultDropDownMenu").empty();
					
					for (var i = 0; i < resultSet.length; i++) {
						var guiValue = resultSet[i].vejnavn + ", " + resultSet[i].bynavn;
						
						$("#searchResultDropDownMenu").append("<a href='#' style='color: black;' onclick=\"select('" + resultSet[i].kommunekode + "', '" + guiValue + "')\"><li>" + guiValue + "</li></a>");
					}
					
					$("#dropdownResult").addClass("open");
				}
				else {
					$("#dropdownResult").removeClass("open");
				}
			}
			
			function executeQuery() {
				var value = $('#searchBox').val();

				if (value.length >= 3) {					
					var tokens = value.split(" ");
					var query = "https://dawa.aws.dk/adresser?per_side=50&struktur=mini&q=";
					for (var i = 0; i < tokens.length; i++) {
						if (i > 0) {
							query = query + "%20";	
						}
						query = query + tokens[i] + "*";					
					}
					
					$.ajax({
						url: query,
						method: "GET",
						success: function(response) {
							var resultSet = [];

							for (var j = 0; j < response.length; j++) {
								var found = false;
								for (var i = 0; i < resultSet.length; i++) {
									if (resultSet[i].kommunekode == response[j].kommunekode && resultSet[i].vejnavn == response[j].vejnavn) {
										found = true;
									}
								}

								if (!found) {
									var hit = { kommunekode: response[j].kommunekode, vejnavn: response[j].vejnavn, bynavn: response[j].postnrnavn };

									resultSet.push(hit);
								}
							}
							
							updateDropdown(resultSet);
						}
					});
				}
				else {
					updateDropdown(null);
				}
			}


			$('#searchBox').on('input', function() {
				executeQuery();
			});
			
			executeQuery();
		});

    /*]]>*/
	</script>
</body>
</html>
