<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header" />
		<aside th:replace="fragments/navbar :: navbar-aside" />
 
		<section>
			<div class="content-wrapper">
				<h3 th:text="${municipality.name}"/>

				<div class="col-md-7 col-lg-8" style="padding: 5px;">
					<div class="panel panel-default">
						<div class="panel-body">
							<form class="form-horizontal">
								<th:block th:if="${isVisitator}">							
									<select class="form-control" id="servicesFilter" onchange="updateServices()">
										<option value="ALL">Vis alle ydelser</option>
										<option value="DOCTOR">Vis kun ydelser synlige for akutlæger</option>
									</select>
									
									<hr/>
								</th:block>

								<th:block th:each="service : ${allServices}">
									<div class="accordian row ydelse" th:attr="data-doctor=${service.visibleForEmergencyDoctor}">
										<div class="panel-heading" role="tab" id="stamdataHeading">
											<h4 class="panel-title" style="font-weight: normal; margin-bottom: -15px;">
												<i class="fa fa-fw" th:classappend="${#lists.contains(municipality.servicesUnwrapped, service)} ? 'fa-check-circle text-success' : 'fa-ban text-disabled'" aria-hidden="true" style="margin-right: 20px; margin-top: 5px;"></i>
												<a role="button" class="toggleRow" data-toggle="collapse" data-parent="#accordion" th:href="'#collapse' + ${service.id}" aria-expanded="false" aria-controls="collapseOne">
													<div style="position: relative; left: 40px; top: -18px; padding-right: 40px;">
														<th:block th:text="${service.name}"/>
														<th:block th:if="${municipality.getNotes(service.id)} != null">
														 	<em style="float: right; font-size: smaller;" class="fa fa-fw fa-chevron-down"></em>
														</th:block>
													</div>
												</a>
											</h4>
										</div>

										<th:block th:if="${municipality.getNotes(service.id)} != null">
										<div th:id="'collapse' + ${service.id}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="stamdataHeading" aria-expanded="false">
											<div class="panel-body">
												<form class="form-horizontal">
													<div class="form-group">
														<p style="margin-left: 20px; margin-right: 20px;" th:text="${municipality.getNotes(service.id)}"/>
													</div>
												</form>
											</div>
										</div>
										</th:block>
									</div>

									<hr style="margin-top: 0px; margin-bottom: 0px;" class="ydelse" th:attr="data-doctor=${service.visibleForEmergencyDoctor}"/>
								</th:block>
							</form>
						</div>
					</div>
				</div>

				<div class="col-md-5 col-lg-4" style="padding: 5px;">
					<div class="panel panel-default">
						<div class="panel-body">
							Antal akutpladser <b class="pull-right" th:text="${municipality.beds}"></b>
							<hr/>
							Mulighed for fast vagt i hjemmet
							<b class="pull-right" th:text="${municipality.homeNurse} ? 'Ja' : 'Nej'"></b>
						</div>
					</div>
				</div>
				
				<div class="col-md-5 col-lg-4 smallFloater" style="padding: 5px;">
					<div style="background: #5fbb3f; color: white;">
						<a th:href="'tel:' + ${municipality.phoneNumberTrimmed}" style="color:inherit; text-decoration: none;">
							<div class="panel-body" style="font-size: 2em; padding-left: 40px; padding-right: 40px;">
								<em class="fa fa-fw fa-volume-control-phone"></em>&nbsp;
								<span style="float: right;" th:text="${municipality.phoneNumberSpaced}"/>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
	</div>

	<nav th:replace="fragments/footer :: footer" />

    <style>
      @media only screen and (max-device-width: 800px) {
      	.smallFloater {
      		position: fixed; bottom: 10px; width: calc(100% - 30px);
      	}
      }

      a[href^="tel:"]:before {
        content: none;
        margin-right: 0.5em;
      }
      
      .text-disabled {
        color: #626262;
      }
    </style>
    	
	<script th:inline="javascript">
		/*<![CDATA[*/
		
		var token = $("meta[name='_csrf']").attr("content");

		$("document").ready(function() {

			var acc = document.getElementsByClassName("accordion-toggle");
			var i;

			for (i = 0; i < acc.length; i++) {
				acc[i].addEventListener("click", function() {
					//this.classList.toggle("active");
					var panel = this.closest(".accordion").nextElementSibling;
					if (panel.style.maxHeight) {
						panel.style.maxHeight = null;
					} else {
						panel.style.maxHeight = panel.scrollHeight + "px";
					} 
				});
			}
			
			$('.toggleRow').on('click', function() {
				$(this).find('#caretIcon').toggleClass('fa-caret-right');
				$(this).find('#caretIcon').toggleClass('fa-caret-down');
			});
		});
		
		function updateServices() {
			var chosenValue = $("#servicesFilter").val();
			
			if ("DOCTOR" == chosenValue) {
				$('*[data-doctor="true"]').show();
				$('*[data-doctor="false"]').hide();
			}
			else {
				$('.ydelse').show();
			}
		}
		
		/*]]>*/
	</script>
</body>
</html>
