<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header" />
		<aside th:replace="fragments/navbar :: navbar-aside" />
 
		<section>
			<div class="content-wrapper">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="table-responsive">
							<button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#addServiceModal">Tilføj ydelse</button>							
							<br/>
							
							<table class="table table-striped table-hover listTable">
								<thead>
									<tr>
										<th class="col-md-7">Ydelse</th>
										<th class="col-md-2">Visitator</th>
										<th class="col-md-2">Akutlæge</th>
										<th class="col-md-1">Handling</th>
									</tr>
								</thead>

								<tbody>
								    <tr th:each="service : ${services}">
								    	<td th:text="${service.name}" />
								    	<td><span th:classappend="${service.visibleForVisitator}? 'fa fa-check'"/></td>
								    	<td><span th:classappend="${service.visibleForEmergencyDoctor}? 'fa fa-check'"/></td>
										<td>
											<a href="#" th:attr="data-id=${service.id},data-name=${service.name},data-visitator=${service.visibleForVisitator},data-emergencydoctor=${service.visibleForEmergencyDoctor}" onclick="showEdit(this);"><em class="fa fa-fw fa-pencil"></em></a>
											<a href="#" th:attr="data-id=${service.id}" onclick="confirmDelete(this)"><em class="fa fa-fw fa-remove"></em></a>
										</td>
					    			</tr>
				    			</tbody>
							</table>							
						</div>
					</div>
				</div>
	        </div>
	    </section>
	</div>
	
	<div id="addServiceModal" class="modal fade" role="dialog">
		<form class="form-horizontal" method="post" th:action="@{/admin/addService}" th:object="${newService}">
			<input type="hidden" id="visitatorRealChecbox" th:field="*{visibleForVisitator}"/>
			<input type="hidden" id="emergencyDoctorRealChecbox" th:field="*{visibleForEmergencyDoctor}"/>

			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Opret ydelse</h4>
					</div>

					<div class="modal-body">
						<div class="form-group">
							<label class="col-sm-2 control-label">Navn</label>
							<div class="col-sm-10">
								<input th:field="*{name}" class="form-control" required="required"/>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-2 control-label">Visitator</label>
							<div class="col-sm-10">
								<div class="checkbox c-checkbox">
									<label>
										<input id="modalVisitatorCheckbox" type="checkbox" th:checked="*{visibleForVisitator}"></input>
										<span class="fa fa-check"></span>
									</label>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-2 control-label">Akutlæge</label>
							<div class="col-sm-10">
								<div class="checkbox c-checkbox">
									<label>
										<input id="modalEmergencyDoctorCheckbox" type="checkbox" th:checked="*{visibleForEmergencyDoctor}"></input>
										<span class="fa fa-check"></span>
									</label>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-lg btn-primary">Opret</button>
							<button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Annuller</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div id="editServiceModal" class="modal fade" role="dialog">
		<form class="form-horizontal" method="post" th:action="@{/admin/editService}">
			<input type="hidden" id="idFieldEdit" name="id" />
			<input type="hidden" id="visitatorFieldEdit" name="visibleForVisitator" />
			<input type="hidden" id="emergencyDoctorFieldEdit" name="visibleForEmergencyDoctor" />

			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Rediger ydelse</h4>
					</div>

					<div class="modal-body">
						<div class="form-group">
							<label class="col-sm-2 control-label">Navn</label>
							<div class="col-sm-10">
								<input id="nameFieldEdit" name="name" class="form-control" required="required" />
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-2 control-label">Visitator</label>
							<div class="col-sm-10">
								<div class="checkbox c-checkbox">
									<label>
										<input id="visitatorFakeFieldEdit" type="checkbox"></input>
										<span class="fa fa-check"></span>
									</label>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-2 control-label">Akutlæge</label>
							<div class="col-sm-10">
								<div class="checkbox c-checkbox">
									<label>
										<input id="emergencyDoctorFakeFieldEdit" type="checkbox"></input>
										<span class="fa fa-check"></span>
									</label>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-lg btn-primary">Gem</button>
							<button type="button" class="btn btn-lg btn-danger" data-dismiss="modal">Annuller</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

	<nav th:replace="fragments/footer :: footer" />

	<script th:inline="javascript">
	/*<![CDATA[*/

	var token = $("meta[name='_csrf']").attr("content");

	$("document").ready(function() {
		$('#modalVisitatorCheckbox').change(function() {
			var checked = this.checked;
			
			if (checked) {
				$('#visitatorRealChecbox').val(true);
			}
			else {
				$('#visitatorRealChecbox').val(false);
			}
		});
		
		$('#modalEmergencyDoctorCheckbox').change(function() {
			var checked = this.checked;
			
			if (checked) {
				$('#emergencyDoctorRealChecbox').val(true);
			}
			else {
				$('#emergencyDoctorRealChecbox').val(false);
			}
		});
		
		$('#visitatorFakeFieldEdit').change(function() {
			var checked = this.checked;
			
			if (checked) {
				$('#visitatorFieldEdit').val(true);
			}
			else {
				$('#visitatorFieldEdit').val(false);
			}
		});
		
		$('#emergencyDoctorFakeFieldEdit').change(function() {
			var checked = this.checked;
			
			if (checked) {
				$('#emergencyDoctorFieldEdit').val(true);
			}
			else {
				$('#emergencyDoctorFieldEdit').val(false);
			}
		});
	});
	
	function showEdit(elem) {
		var id = $(elem).data('id');
		var name = $(elem).data('name');
		var visitator = $(elem).data('visitator');
		var emergencydoctor = $(elem).data('emergencydoctor');
		
		$('#idFieldEdit').val(id);
		$('#visitatorFieldEdit').val(visitator);
		$('#emergencyDoctorFieldEdit').val(emergencydoctor);
		$('#nameFieldEdit').val(name);
		$('#visitatorFakeFieldEdit').prop('checked', visitator);
		$('#emergencyDoctorFakeFieldEdit').prop('checked', emergencydoctor);

		$('#editServiceModal').modal('show');
	}
	
	function confirmDelete(elem) {
		var id = $(elem).data('id');

		/*[+
		var url = [[@{/admin/manageservices}]];
		var deleteURI = [[@{/rest/admin/delete/}]] + id;
		+]*/

		swal({
			html: true,
			title : "Slet ydelse",
			text : "Er du sikker på at du vil slette denne ydelse?",
			type : "warning",
			showCancelButton : true,
			confirmButtonColor : "#DD6B55",
			confirmButtonText : "Ja",
			cancelButtonText : "Nej",
			closeOnConfirm : true,
			closeOnCancel : true
		},
		function(isConfirm) {
			if (isConfirm) {
				$.ajax({
					type: "DELETE",
					url: deleteURI,
					headers: {
						'X-CSRF-TOKEN': token
					},
					success: function() {
						window.location.href = url;
					}
				});
			}
		});
	}

	/*]]>*/
	</script>
</body>
</html>
