<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header" />
		<aside th:replace="fragments/navbar :: navbar-aside" />
 
		<section>
			<div class="content-wrapper">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3>HTTP Headers</h3>
						<ul>
							<li th:each="header : ${headers}" th:text="${header}" />
						</ul>

						<th:block th:if="${token != null}">
							<h3>SAML Token</h3>
							<pre class="well" th:text="${token}" />
						</th:block>
					</div>
				</div>
	        </div>
	    </section>
	</div>
	
	<nav th:replace="fragments/footer :: footer" />
</body>
</html>
