<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header" />
		<aside th:replace="fragments/navbar :: navbar-aside" />
 
		<section>
			<div class="content-wrapper">
				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body" style="height: 100%;">
						<div class="col-sm-12">
							<h3>De nære behandlingstilbud</h3>
						</div>

						<div class="col-sm-12" style="margin-bottom: 40px;">
							Klik på login for at få adgang til servicen
						</div>

						<div class="col-sm-12" style="text-align: center;">
							<a th:href="@{/saml/login}" class="btn btn-lg btn-primary" style="width: 100%;">
								<em class="fa fa-sign-in fa-fw"></em>&nbsp;
								Login
							</a>
						</div>
						<br/></br>
					</div>
				</div>
			</div>
		</section>
	</div>

	<nav th:replace="fragments/footer :: footer" />
</body>
</html>
