<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header" />
		<aside th:replace="fragments/navbar :: navbar-aside" />
 
		<section>
			<div class="content-wrapper">
				<h3>Der er opstået en fejl under login</h3>

				<div class="panel panel-default">
					<div class="panel-heading" />
					<div class="panel-body">
						<div class="well well-lg">
							<th:block th:if="${exception != null}">
								<h4>Fejlbesked</h4>
								<pre th:text="${exception}" />
							</th:block>
						</div>
					</div>
				</div>
	        </div>
	    </section>
	</div>
	
	<nav th:replace="fragments/footer :: footer" />
</body>
</html>
